@use "sass:map";

.button-primary-light {
  background-color: map-get($theme-colors, "secondary");
  color: white;
  font-size: map-get($theme-font-sizes, "p1");
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

.button-yellow {
  background-color: map-get($theme-colors, "yellow");
  color: white;
  font-size: map-get($theme-font-sizes, "p1");
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 5px;
  padding: 2rem 3rem;
}
.button-large {
  font-size: map-get($map: $theme-font-sizes, $key: "h2");
}
