#free-quote {
  background-color:#43ABC8;
  color: white;
  padding: 75px 0;
  font-family: "Helvetica Neue";

  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
  }

  .row > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    color: white;
    text-decoration: none;
  }

  .button {
    background-color: #DFB13C;
    width: 309px;
    height: 68px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Mobile
  @media (max-width: 1000px) {
    padding: 35px 0;

    .row:nth-child(1) {
      display: flex;
      justify-content: center;
    }

    .row > div:nth-child(1) {
      padding-bottom: 20px;
      width: 309px;
    }
  }
}