#footer {
  // #footer
  font-family: "Helvetica Neue";
  background-color: #214475;
  color: white;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    color: white;
    text-decoration: none;
  }

  h1 {
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 35px;
    line-height: 0;
  }

  img {
    padding-right: 8px;
  }

  .footer-logo img {
    height: 34px;
  }

  .smalltext {
    font-size: 14px;
  }

  .bigtext {
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 8px;
  }

  .centertext {
    text-align: center;
  }

  .footer-footer {
    padding: 20px;
  }

  .hours > div > span:nth-child(2) {
    float: right;
  }

  #footer-hours-mobile {
    display: none;
  }
  // Mobile
  @media (max-width: 1000px) {
    // #footer
    text-align: center;

    h1 {
      font-size: 22px;
      padding-bottom: 8px;
    }

    #footer-hours {
      display: none;
    }

    #footer-hours-mobile {
      display: block;
      margin-bottom: 25px;
    }

    #footer-services {
      display: none;
    }

    .mobile-btn {
      background-color: #1f4e93;
      margin-bottom: 10px;
      box-shadow: 0 3pt 6pt #00000029;
    }

    .followus {
      font-size: 27px;
    }

    .contact-info {
      :nth-child(1) {
        font-size: 21px;
        padding: 10px 0;
      }
      :nth-child(2),
      :nth-child(4),
      :nth-child(5) {
        padding-bottom: 10px;
      }
    }

    #social img {
      padding: 5px 10px;
    }
  }
}
#header-info {
}
