#header {
  background-color: #214475;
  color: white;
  font-family: "Helvetica Neue";
  padding: 0 0;
  position: sticky;
  top: 0;
  z-index: 100;
  @include respond("md") {
  }
  &-info {
  }
  .header-logo {
    font-size: 28px;
    padding-bottom: 5px;
  }

  .header-logo img {
    height: 34px;
    padding-right: 12px;
  }

  #nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    color: white;
    text-decoration: none;
  }

  .button {
    background-color: #dfb13c;
    width: 119px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }

  // Mobile
  @media (max-width: 1000px) {
  }
}

.bigtext {
  font-size: 21px;
  font-weight: bold;
}
