@use "sass:map";

.Home {
  font-family: $HelveticaNeue;

  @include respond("md") {
    display: flex;
    flex-direction: column;
    & > * {
      max-width: 100%;
    }
  }
  &-hero {
    justify-content: center;
    align-self: center;
    background-image: url("../img/mobile/hero-background-homepage.png");
    background-size: cover;
    position: relative;
    z-index: 2;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include respond("md") {
      margin: 0;
      height: 50vw;
      & > * {
        max-width: 80%;
      }
    }
    @include respond("lg") {
      padding-top: 2vw;
      padding-left: 5vw;
      height: 45vw;
      position: relative;
      justify-content: start;
      align-items: start;
      background-repeat: no-repeat;

      &:before {
        content: "|\00a0\00a0";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0;
        right: 0;
        left: 0;
        background-color: #103872e0;
      }
      & > * {
        transform: translate(4rem);
      }
    }
    @include respond("xxl") {
      padding-left: 11vw;
      padding-top: 4vw;
    }
    &-overlay {
      display: block;
      background-color: #103872e0;
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      z-index: 0;
      left: 0;
      @include respond("lg") {
        display: none;
      }
    }
    &-header {
      padding-bottom: 0;
      z-index: 2;
      position: relative;
      text-align: center;
      @include respond("lg") {
        text-align: start;
      }

      & > header {
        color: map-get($map: $theme-colors, $key: "white");
        font-size: 25px;
        font-family: $BebasNeue;
        padding: 0rem 3rem;
        @include respond("md") {
          font-size: 30px;
        }
        @include respond("lg") {
          font-size: 58px;
        }
        @include respond("xxl") {
          font-size: 72px;
        }
      }
    }
    &-image {
      z-index: 2;
      position: relative;

      & > img {
        width: 100%;
        height: auto;
      }
      &-arrow {
        position: absolute;
        bottom: 0;
        left: 50%;
        color: white;
        width: 2rem;
        height: 2rem;
        @include respond("lg") {
          width: 5rem;
          height: 5rem;
          left: 47%;
        }
        & > img {
          width: 100%;
          height: auto;
          transform: translate(-50%, -0rem);
          @include respond("lg") {
            width: 5rem;
            transform: translate(-50%, -4rem);
          }
        }
      }
      &-small {
        position: absolute;
        bottom: 0;
        right: -16vw;
        width: 65vw;
        @media only screen and (min-width: 414px) {
          right: -1vw;
          width: 52vw;
        }

        & > img {
          width: 100%;
          height: auto;
        }
      }
      &-large {
        @include respond("md") {
          bottom: 0;
          right: 15%;
          position: absolute;
        }
        @include respond("lg") {
          position: absolute;
          background-size: cover;
          width: 58%;
          right: 11vw;
        }
        @include respond("xxl") {
          right: 11vw;
        }
      }
    }
    &-content {
      z-index: 2;
      position: relative;
      color: map-get($map: $theme-colors, $key: "white");
      font-family: $HelveticaNeue;
      @include respond("lg") {
        max-width: 40%;
        font-size: 28px;
      }
      @include respond("xxl") {
        max-width: 35%;
      }
      &-text {
        font-weight: normal;
        padding: 1rem;
      }
      &-button {
        z-index: 2;
        position: relative;
        margin: 2.5rem 0;
        @include respond("md") {
          max-width: 25%;
          margin: 1.5rem 0;
        }
        @include respond("lg") {
          margin: 0;
          max-width: 20%;
          & > div {
            font-size: 28px;
            font-weight: bold;
          }
        }
        @include respond("xxl") {
          margin-left: 1rem;
        }
      }
    }
  }

  &-why {
    background-color: map-get($map: $theme-colors, $key: "primary-light");
    font-family: $HelveticaNeue;

    &-content {
      & > * {
        margin-bottom: 2rem;
        @include respond("lg") {
          padding: 0 6rem;
        }
      }
    }
    &-img {
      height: 5.8rem;
      @include respond("lg") {
        height: 10rem;
      }
      & > img {
        height: 100%;
        width: auto;
      }
    }
    &-header {
      & > header {
        font-size: 28px;
        font-weight: bold;
        padding: 2rem;

        @include respond("lg") {
          padding: 5rem;
          font-size: 36px;
        }
      }
    }
    &-title {
      font-size: map-get($map: $theme-font-sizes, $key: "h3");
      font-weight: bold;
      min-height: 60px;
      @include respond("lg") {
        font-size: 20px;
      }
    }
    &-text {
      font-size: 14px;
    }
  }
  &-services {
    & > *:not(:first-child) {
      margin-bottom: 3rem;
    }
  }

  &-service {
    font-family: $HelveticaNeue;
    @include respond("lg") {
      margin-bottom: 6rem;
    }

    &-header {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      @include respond("lg") {
        font-size: 36px;
        align-self: center;
        text-align: left;
      }
    }
    &-image {
      & > img {
        height: auto;
        width: 100%;
        @include respond("lg") {
          width: 445px;
        }
      }
    }
  }

  &-accounting {
    font-family: $HelveticaNeue;
    margin-bottom: 5rem;
    @include respond("md") {
      align-self: start;
    }
    @include respond("lg") {
      margin: 1rem !important;
    }
    &-header {
      font-size: map-get($map: $theme-font-sizes, $key: "h1");
      font-weight: bold;
    }
    &-text {
      font-size: map-get($map: $theme-font-sizes, $key: "p1");
    }
  }
  &-tax {
    font-family: $HelveticaNeue;
    @include respond("lg") {
    }
    &-container {
      margin-bottom: 3rem;
    }
    &-image {
      display: flex;
      justify-content: center;
      & > img {
        height: auto;
        width: 302px;
        @include respond("lg") {
          width: 449px;
        }
      }
    }
    &-header {
      font-size: map-get($map: $theme-font-sizes, $key: "h1");
      font-weight: bold;
    }
    &-text {
      font-size: map-get($map: $theme-font-sizes, $key: "p1");
    }
  }

  &-consulting {
    font-family: $HelveticaNeue;
    background-color: red;

    &-header {
      font-size: map-get($map: $theme-font-sizes, $key: "h1");
      font-weight: bold;
    }
    &-text {
      font-size: map-get($map: $theme-font-sizes, $key: "p1");
    }
    &-image {
      display: flex;
      justify-content: center;
      & > img {
        height: auto;
        width: 303px;
        @include respond("lg") {
          width: 410px;
        }
      }
    }
  }

  &-quote {
    font-family: $HelveticaNeue;

    background-color: map-get($map: $theme-colors, $key: "secondary-light");
    @include respond("lg") {
    }
    &-header {
      font-size: map-get($map: $theme-font-sizes, $key: "h1");
      font-weight: bold;
      color: white;
      @include respond("lg") {
        font-size: 36px;
      }
    }
    &-content {
      color: white;
      font-size: map-get($map: $theme-font-sizes, $key: "p1");
      @include respond("lg") {
        font-size: 20px;
        max-width: 80%;
      }
    }
    &-button {
      @include respond("md") {
        max-width: 30%;
      }
      @include respond("lg") {
        & > div {
          padding: 2rem 3rem;
          font-size: 28px;
        }
      }
    }
  }

  &-info {
    font-family: $HelveticaNeue;
    margin-top: 3rem;
    @include respond("md") {
      height: 55vw;
      margin-top: 0rem;
    }
    &-box {
      background-color: rgba(255, 255, 255, 0.8);
      & > * {
        margin-bottom: 2rem;
      }
      @include respond("md") {
        transform: translate(0, 2rem);
        padding: 1rem;
        width: 75%;
        justify-content: space-around;
      }
      @include respond("lg") {
        padding: 1rem;
      }
    }
    &-logo {
      background-color: map-get($map: $theme-colors, $key: "primary");
      padding: 0.5rem;
      border-radius: 5px;

      @include respond("lg") {
        width: 12rem;
        height: 12rem;
      }
      & > img {
        width: 6.25rem;
        height: 6.25rem;
        @include respond("md") {
          width: 7rem;
          height: 7rem;
        }
        @include respond("lg") {
          width: 100%;
          height: 100%;
          padding: 1rem;
        }
      }
    }
    &-title {
      font-family: $HelveticaNeue;

      font-size: 36px;
      font-weight: bold;
      text-align: center;
      @include respond("lg") {
        text-align: left;
      }
    }
    &-content {
      & > ul {
        list-style-type: none;
        padding: 0;
        & > * {
          font-size: 20px;
        }
      }
    }
    &-team-img {
      @include respond("md") {
        width: 100vw;
        height: auto;
        position: absolute;
        z-index: -1;
      }
      & > img {
        width: 100vw;
        height: 100%;
      }
    }
  }
  &-testimony {
    font-family: $HelveticaNeue;
    @include respond("md") {
    }
    & > * {
      margin-bottom: 1rem;
    }
    & > *:first-child {
      margin-bottom: 1rem;
      font-size: 22px;
    }
    & > *:nth-child(2) {
      margin-bottom: 2rem;
    }
    &-header-large {
      font-size: 28px;
    }
    &-content {
      margin-bottom: 1rem;

      &-header {
        &-small {
          display: block;
          font-weight: bold;
          @include respond("lg") {
            display: none;
          }
        }
        &-large {
          @include respond("lg") {
            font: $HelveticaNeue;
            display: block;
            font-size: 2rem;
            font-weight: bold;
          }
        }
      }
      &-title {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}
.read-more {
  &:hover {
    cursor: pointer;
  }
  &-content {
    display: none;
  }
  &-show {
    display: block;
  }
}

.learn-more {
  &-small {
    @include respond("md") {
      display: none;
    }
  }
  &-big {
    display: none;
    @include respond("md") {
      display: block;
    }
  }
}
