$theme-colors: (
  "primary": blue,
  "dark": #000000,
);

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helveticaneue/HelveticaNeue Light.ttf");
}

@import "node_modules/bootstrap/scss/bootstrap";
@import "./header";
@import "./footer";
@import "./contactus_footer"