<div id="free-quote" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h1>Get a Free Quote</h1>
        <p>Contact us to get a free quote about how much you can be saving on your monthly bookkeeping and accounting services. We can give you an estimate for the end of the year tax returns for you and your business within 15 - 30 minutes.</p>
      </div>
      <div class="col">
        <a href="#"><div class="button">Contact Us</div></a>
      </div>
    </div>
  </div>
</div>