<footer id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <h1 class="footer-logo centertext">
        <img src="img/logo_transparent.png" alt="logo">
        The Clever Accountants
      </h1>
    </div>
  <div class="row">
      <div id="header-info " class="d-lg-flex justify-content-lg-around col-md-6 col-lg-12">
        <div class="">
          <div class="bigtext">Operation Hours</div>
          <div id="footer-hours" class="smalltext">
            <div class="row">
              <div class="col-4">
                <ul>
                  <li>Monday:</li>
                  <li>Tuesday:</li>
                  <li>Wednesday:</li>
                  <li>Thursday:</li>
                  <li>Friday:</li>
                  <li>Saturday:</li>
                  <li>Sunday:</li>
                </ul>
              </div>
              <div class="col-8">
                <ul>
                  <li>8:00 am - 6:00 pm</li>
                  <li>8:00 am - 6:00 pm</li>
                  <li>8:00 am - 6:00 pm</li>
                  <li>8:00 am - 6:00 pm</li>
                  <li>8:00 am - 6:00 pm</li>
                  <li>CLOSED</li>
                  <li>CLOSED</li>
                </ul>
              </div>
            </div>
          </div>
          <div id="footer-hours-mobile" class="smalltext">
            <div>Mon - Fri: 8:00 am - 6:00 pm</div>
            <div>Sat - Sun: CLOSED</div>
          </div>
        </div>
        <div class="">
          <a href="/service.html">
            <div class="mobile-btn bigtext d-block d-md-none d-lg-block">
              Services
            </div>
          </a>
      
      
          <ul id="footer-services" class="smalltext">
            <li><a href="#">Accounting</a></li>
            <li><a href="#">Bookkeeping</a></li>
            <li><a href="#">Payroll</a></li>
            <li><a href="#">Tax Filing</a></li>
            <li><a href="#">Business Consultation</a></li>
          </ul>
        </div>
        <div class="">
          <a href="/pricing.html">
            <div class="mobile-btn bigtext d-block  d-md-none d-lg-block">
              Pricing
            </div>
          </a>
          <a href="/aboutus.html">
            <div class="mobile-btn bigtext  d-block  d-md-none d-lg-block">
              About Us
            </div>
          </a>
        </div>
        <div class="">
          <a href="/contactus.html">
            <div class="mobile-btn bigtext  d-block d-md-none d-lg-block">
              Contact Us
            </div>
          </a>
          <div>
            <ul class="contact-info smalltext">
              <li>(714) 532-3002</li>
              <li> <a class="" href="mailto:info@thecleveraccountants.com">info@thecleveraccountants.com</a></li>
              <li>1665 E 4th St Ste 212C</li>
              <li>Santa Ana, CA 92701</li>
              <li>License #A296196</li>
            </ul>
          </div>
          <div class="followus bigtext align-items-center   d-block d-md-none d-lg-block">Follow Us</div>
          <div id="social" class="d-flex justify-content-center justify-content-lg-start align-items-lg-center">
            <a class=" d-block d-md-none d-lg-block" href="#"><img src="img/desktop/Homepage/Icon-metro-facebook-1.png"
                alt="Facebook"></a>
            <a class=" d-block d-md-none d-lg-block" href="#"><img src="img/desktop/Homepage/Icon simple-instagram-1.png"
                alt="Instagram"></a>
            <a class=" d-block d-md-none d-lg-block" href="#"><img src="img/desktop/Homepage/Icon awesome-yelp-1.png"
                alt="Yelp"></a>
            <a class=" d-block d-md-none d-lg-block" href="#"><img src="img/desktop/Homepage/Icon simple-tiktok-1.png"
                alt="Tiktok"></a>
          </div>
        </div>
      </div>
      <div id="" class="d-flex d-none d-md-block d-lg-none flex-column justify-content-center justify-content-lg-start col-md-6 ">
        <div class="d-flex flex-column">
          <a href="/aboutus.html">
            <div class="mobile-btn bigtext ">
              About Us
            </div>
          </a>
          <a href="/service.html">
            <div class="mobile-btn bigtext ">
              Services
            </div>
          </a>
          <a href="/service.html">
            <div class="mobile-btn bigtext ">
              Pricing
            </div>
          </a>
          <a href="/service.html">
            <div class="mobile-btn bigtext ">
              Contact Us
            </div>
          </a>
        </div>
        <div class="follow-us bigtext d-none d-md-block d-lg-none">Follow Us</div>
        <div class="row w-75 justify-content-lg-center follow-us-tablet">

          <a class=" d-none d-md-block d-lg-none col-3" href="#"><img src="img/desktop/Homepage/Icon-metro-facebook-1.png"
            alt="Facebook"></a>
          <a class=" d-none d-md-block d-lg-none col-3" href="#"><img src="img/desktop/Homepage/Icon simple-instagram-1.png"
              alt="Instagram"></a>
          <a class=" d-none d-md-block d-lg-none col-3" href="#"><img src="img/desktop/Homepage/Icon awesome-yelp-1.png"
                alt="Yelp"></a>
                <a class=" d-none d-md-block d-lg-none col-3" href="#"><img src="img/desktop/Homepage/Icon simple-tiktok-1.png"
                  alt="Tiktok"></a>
          </div>
      </div>
     
  </div>

    <div class="row smalltext centertext footer-footer">
      <span>Copyright &copy; 2021 The Clever Accountants | All rights reserved.</span>

    </div>
  </div>
</footer>

<!-- ADDING SCRIPT AND CLOSING BODY/HTML TAG -->
<script src="js/all.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>

</html>