<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="icon" href="./img/icon.png" />
  <title>The Clever Accountants</title>
</head>

<body>
  <header id="header" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col header-logo">
          <img src="img/logo_transparent.png" alt="logo">
          The Clever Accountants
        </div>
        <div id="nav" class="col">
          <a href="#">Services</a>
          <a href="#">Pricing</a>
          <a href="#">About Us</a>
          <a href="#" class="button">Contact Us</a>
        </div>
    </div>
  </header>